
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cm-editor {
  height: 100%;
}


.h-80vh {
  height: 80vh;
}

.h-90vh {
  height: 93vh;
}
.h-65vh {
  height: 65vh;
}

.h-70vh {
  height: 70vh;
}
